@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #181818;
    font-family: 'Press Start 2P', cursive;

    h1 {
        text-align: center;
        font-size: 2rem !important;
        color: #00CE79;
        padding: 3rem 0;
    }

    .container {
        position: relative;
        width: fit-content;

        .gameItems {
            position: absolute;
            gap: 1rem;
            padding: 1rem;
            display: flex;
            align-items: center;
            width: 100%;

            .plHealth {
                display: flex;
                align-items: center;
                height: 30px;
                width: 100%;
                border: 3px solid #00CE79;
                border-radius: 10px;

                .plBar {
                    background-color: #181818;
                    height: 90%;
                    width: 100%;
                    border-radius: 10px;
                }
            }

            .timer {
                background-color: #181818;
                color: #00CE79;
                font-size: 1.5rem !important;
                border-radius: 20px;
                width: 100px;
                height: 100px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .enHealth {
                height: 30px;
                width: 100%;
                border: 3px solid #00CE79;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                border-radius: 10px;

                .enBar {
                    background-color: #181818;
                    height: 90%;
                    width: 100%;
                    border-radius: 10px;
                }
            }


        }

        .popup {
            position: absolute;
            color: #00CE79;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 3rem;
            display: none;
            background-color: #1818185c;

            .reload {
                border: none;
                background-color: #00CE79;
                color: #181818;
                padding: 1rem .5rem;
                border-radius: 10px;
                font-size: 1.2rem;
                cursor: pointer;
                margin-top: 1rem;
                font-family: 'Press Start 2P', cursive;
            }
        }
    }
}